{{template "base" .}}

{{define "css"}}
<style>
  table{
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
  }

  th{
    background-color: #1e2242;
    padding: 5px;
    font-size: 22px;
  }

  form{
    padding: 5px;
  }

  label{
    font-size: 18px;
  }

  input{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
  }
</style>
{{end}}

{{define "content"}}
<form action="/login" method="POST">
  <table>
    <thead>
      <tr>
        <th colspan="2">Mono Monero - Login</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="2">{{ .Error }}</td></tr>
      <tr>
        <td>
         <label for="username">Username</label>
        </td>
        <td>
          <input type="text" required name="username" id="username"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <input type="password" required name="password" id="password"/>
        </td>
      </tr>
      <tr>
          <td colspan="2">
          <img src="/captcha/{{ .Captcha }}" alt=""/>
          </td>
      </tr>
      <tr>
        <td>
          <label for="captcha">Captcha</label>
        </td>
        <td>
          <input type="text" required id="captcha" name="captcha"/>
          <input type="hidden" name="captchahash" value="{{ .CaptchaHash }}"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          Note: Captcha is case sensitive.
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="button">Login</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
 <div class="text-center">
   <a href="/">Go Back</a>
 </div>

{{end}}