{{template "base" .}}

{{define "css"}}
<style>
  table{
    text-align: center;
    max-width: 480px;
    margin: 0 auto;
  }

  th{
    background-color: #1e2242;
    padding: 5px;
    font-size: 22px;
  }

  form{
    padding: 5px;
  }

  label{
    font-size: 18px;
  }

  input{
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
  }
</style>
{{end}}

{{define "content"}}
<form action="/register" method="POST">
  <table>
    <thead>
      <tr>
        <th colspan="2">Mono Monero - Register</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>
         <label for="username">Username</label>
        </td>
        <td>
          <input type="text" name="username" id="username"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <input type="password" name="password" id="password"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="confpassword">Confirm Password</label>
        </td>
        <td>
          <input type="password" name="confpassword" id="confpassword"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="button">Register</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
 
 <div class="text-center">
   <a href="/">Go Back</a>
 </div>

{{end}}